<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <section>
      <div class="pessoa" entity="cliente.Pessoa">
        <div class="info">
          <p>nome: </p>
          <p campo="nome"></p>
        </div>
        <div class="info">
          <p>idade: </p>
          <p campo="idade"></p>
        </div>
        <div class="info">
          <p>fone: </p>
          <p campo="fone"></p>
        </div>
        <a href="#/editar"></a>
      </div>
    </section>

  </body>
</html>
